* {
    margin: 0;
    padding: 0;
}
.container {

   background: white;
   width: 90%;
    max-width: 1000px;
    margin: auto;
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Estilos generales menu*/
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

nav li {
    line-height: 3rem;
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

nav a:hover {
    background: rgba(0, 0,0, .5)
}



/*Primer nivel */
.menu {
    background: gray;
    overflow: auto;
    display: table;
    width: 100%;
}

nav > ul > li {
    float: left;
}

/*Segundo nivel */
nav li li {
    background: lightgray;
    width: 260px;
    transition: all .5s;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

nav li:hover > ul > li {
    max-height: 500px;
    overflow: visible;
}

.menu ul ul {
    top: 100%;
}


.logo{
    background: white;
    width: 100%;
    padding: 20px;

    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
}

.main {
    background: #E5E6E8;
    padding: 20px;
    width: 100%;
    height: 300px;

    /* Flex */
    flex: 1 1 70%;
    flex-direction: row;
    flex-flow: wrap;
    justify-items: flex-end;
    

}

.pokemonList{

    /* Flex */
    display: flex;
    margin: 10px;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#listaDePokemones div {
    flex: 0 0 100px;
    padding: 20px 0;
    text-align: center;
    background: white;
}

.namepk {
    border: white;
    border-bottom: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Botones */

.botonAccion {
    height:30px;
    width: 1000px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
    padding: 10px 0px;
    /*Flex*/display: flex;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
}

.water {
    background-image: url("../src/img/pkm__0005_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.grass {
    background-image: url("../src/img/pkm__0006_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%
    
}

.fire {
    background-image: url("../src/img/pkm__0000_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.flying {
    background-image: url("../src/img/pkm__0015_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

.bug {
    background-image: url("../src/img/pkm__0014_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.normal{
    background-image: url("../src/img/pkm__0009_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.poison {
    background-image: url("../src/img/pkm__0007_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.electric {
    background-image: url("../src/img/pkm__0011_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.ground {
    background-image: url("../src/img/pkm__0003_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.psychic {
    background-image: url("../src/img/pkm__0001_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.fighting {
    background-image: url("../src/img/pkm__0008_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.rock {
    background-image: url("../src/img/pkm__0008_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
 
.ice {
    background-image: url("../src/img/pkm__0016_Group-2 copy.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.ghost{
    background-image: url("../src/img/pkm__0002_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.dragon {
    background-image: url("../src/img/pkm__0012_Group-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.caja {
    display: flex;
    align-content: center;
    justify-content: center;
}


/* Ordernar */

.orderBox {
    height: 50px;
    width: 160px;
    border-radius:;
   
    /*Flex*/
    display: flex;
    align-content: flex-end;
    justify-content: right;
}